body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
.button_1 {
    background-color:orangered ;
    height: 32px;
    padding: 0 10px 0 10px;
    border: none;
    color: #fff;
}
.button_1:hover {
    background-color:blue ;
}
header {
    background-color: teal;
    color: #fff;
    min-height: 70px;
    border-bottom: 3px solid orange;
    padding-top: 10px;
}
header #branding h1 {
    float: left;
    
}
header nav {
    float: right;
    padding-top: 30px;
    
}
header li{
    display: inline;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
header a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
header .highlight, header .current a {
    color: orangered;
    font-weight: 700;
}
header a:hover {
    color: blue;
    font-weight: bold;
}
#showcase {
    background: url('images/lap.jpg');
    min-height: 400px;
    text-align: center;
    color: orangered;
    
}

#showcase h1 {
    font-size: 50px;
    padding-top: 50px;
}
#showcase p {
    font-size: 20px;
}
#newsletter {
    background-color: teal;
    color: #fff;
    padding: 15px;
}
#newsletter h1 {
    float: left;
}
#newsletter form {
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"] {
    width: 200px;
    height: 25px;
}
#boxes {
    margin-top: 20px;
}
#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img {
    width: 90px;
}
#sidebar {
    float: right;
    width: 30%;
    margin-top: 20px;
}
#main-col {
    float: left;
    width: 60%;
    margin-top: 20px;
}
.dark {
    background-color: teal;
    color: white;
    padding: 10px;
}
#services li {
    list-style-type: none;
    background-color: gainsboro;
    border: 3px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}
#sidebar .quote input, #sidebar .quote textarea {
    width: 90%;
    padding: 10px;
}
.error {
    background-color: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}
footer {
    margin-top: 20px;
    background-color:orangered;
    color: #fff;
    text-align: center;
    padding: 20px;
}
@media(max-width: 768px) {
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article #main-col, aside #sidebar {
        width:100%;
        float:none;
        text-align: center;
    }
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"], .quote input, .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }
}