.projects{
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.project {
    background-color: azure;
    color: #f4f4f4;
    border: 2px solid black;
    height: 300px;
    width: 450px;
}
.project_title {
    position: relative;
    text-align: center;
    bottom: 40%;
    color: #c0392b;
}
@media screen and (max-width: 960px){
    .projects {
        display: flex;
        flex-direction: column;
    }
}