.projects{
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.project {
    background-color: azure;
    color: #f4f4f4;
    border: 2px solid black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}